# setuptools==58.1.0
# wheel==0.37.1
fastapi==0.73.0
# fastapi==0.114.0
motor==2.5.1
pydantic==1.10.7
python-decouple==3.6
uvicorn==0.17.4
python-dateutil==2.8.2
qiskit==0.36.1
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.5
bcrypt==3.2.2
# requests==2.26.0
# strangeworks==0.2.13
# strangeworks==0.5.9
# strangeworks-braket==1.0.14
# strangeworks-braket==0.1.3